/*** General CSS styles ***/

/********************************************
**** Import container and class styles *****
******************************************/
@import url(noise_div.css);
@import url(noise_img.css);

/*************************
**** General styles *****
***********************/
body
{
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 12px;
	text-decoration: none;
	/*line-height: 16px;*/
	text-align: justify;
}
body, input, select
{
	font-family: "Trebuchet MS", "Bitstream Vera Sans", "Verdana", "Lucida", "Arial", "Helvetica", "sans-serif";
	font-weight: normal;
}
form
{
	padding: 0;
	margin: 0;
}
input, select
{
	height: 21px;
	border: solid #C2C2C2;
	border-width: 1px;
}
p
{
	margin: 0 0 5px 0;
}
/*h1, h2, h3, h4
{
	text-decoration: underline;
}*/
h1
{
	font-size: 20px;
	color: #060;
}
h2
{
	font-size: 18px;
	color: #090;
}
h3, h3:link, h3:visited
{
        font-size: 16px;
        color:#007700
        text-decoration: none;
}
h3:link:hover, h3:visited:hover
{
        font-size: 16px;
        color: #CCC;
        text-decoration: none;
}

h3
{
	font-size: 16px;
        color:#007700
 
}
h4
{
	font-size: 14px;
}

/*************************
**** iframe clasees *****
***********************/
iframe.mainIframe, iframe.scriptRes
{
	position: relative;
	width: 100%;
	background: #FFF;
	z-index: 2;
}
iframe.scriptRes
{
	z-index: 3;
}
/******************
**** a hrefs *****
****************/

/* === Options along the top of the page === */
a, a:link, a:visited
{
	color: #515151;
	text-decoration: none;
}
a:link:hover, a:visited:hover
{
	color: #CCC;
	text-decoration: none;
}

/* === Options at the left of the page === */
.menuOption, .menuOption:link, .menuOption:visited, .menuOption:link:hover, .menuOption:visited:hover,
.menuOptionHighlight, .menuOptionHighlight:link, .menuOptionHighlight:visited, .menuOptionHighlight:link:hover, .menuOptionHighlight:visited:hover,
.menuOptionStatic,
.menuOptionLower, .menuOptionLower:link, .menuOptionLower:visited, .menuOptionLower:link:hover, .menuOptionLower:visited:hover
{
	float: left;
	min-height: 18px;
	width: 120px;
	padding: 3px 1px 1px 3px;
	border: solid #FFF;
	border-width: 0 1px 1px 0;
	text-decoration: none;
	text-align: center;
	background: url(../images/optionGradient.gif) #9EE03A repeat-x top left;
	z-index: 15;
}
.menuOption:link:hover, .menuOption:visited:hover,
.menuOptionHighlight:link:hover, .menuOptionHighlight:visited:hover,
.menuOptionLower:link:hover, .menuOptionLower:visited:hover
{
	color: #FFF;
	background: url(../images/optionGradientLight.gif) #9EE03A repeat-x top left;
}
.menuOptionLower, .menuOptionLower:link, .menuOptionLower:visited, .menuOptionLower:link:hover, .menuOptionLower:visited:hover
{
	float: right;
}
/* === Upper options === */
.upperOption, .upperOption:link, .upperOption:visited, .upperOption:link:hover, .upperOption:visited:hover,.upperOptionHighlight, .upperOptionHighlight:link, .upperOptionHighlight:visited, .upperOptionHighlight:link:hover, .upperOptionHighlight:visited:hover
{
	float: right;
	display: block;
	height: 22px;
	width: 80px;
	padding: 5px 0 0 0;
	margin: 0 0 3px 3px;
	border: solid #E5E5E5;
	border-width: 1px;
	text-decoration: none;
	text-align: center;
}
.upperOption, .upperOption:link, .upperOption:visited
{
	background: url(../images/headerLowerGradient.gif) repeat-x top left;
}
.upperOption:link:hover, .upperOption:visited:hover,.upperOptionHighlight:link:hover, .upperOptionHighlight:visited:hover
{
	color: #FFF;
	background: url(../images/optionGradient.gif) repeat-x top left;
}
.upperOptionHighlight, .upperOptionHighlight:link, .upperOptionHighlight:visited
{
	background: #BDBBBB;
}

/******************
**** buttons *****
****************/
.buttonContainer, .buttonContainerLogin
{
	position: relative;
	float: left;
	cursor: pointer;
}
.buttonContainerLogin
{
	top: -4px;
	left: -2px;
}
.buttonLeft
{
	float: left;
	height: 19px;
	margin: 0 0 0 2px;
	border: solid #C2C2C2;
	border-width: 1px 0 1px 1px;
}
.buttonRight
{
	float: left;
	height: 17px;
	text-align: center;
	padding: 2px 10px 0 10px;
	border: solid #C2C2C2;
	border-width: 1px 1px 1px 0;
	background: url(../images/buttonBG.gif) repeat-x top left;
}

/*****************
**** Styles *****
***************/
.headerTitle
{
	position: relative;
	top: -6px;
	font-size: 14px;
	padding: 0 0 0 3px;
}
.title
{
	font-size: 20px;
	padding: 3px 3px 7px 3px;
	margin: 0 0 1px 0;
	background: url(../images/headerLowerGradient.gif) repeat-x top left;
	z-index: 1;
}
.floatLeft
{
	float: left;
}
.zeroMargin
{
	margin: 0;
}
.form_text
{
	float: left;
	width: 15%;
}
.form_input
{
	float: left;
        width: 40%;
}
.centre
{
	text-align: center;
}
.radioDW
{
	height: 14px;
}

#myInput {
    /*background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    /*background-position: 10px 12px; /* Position the search icon */
    /*background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    height: 30px;
    color: #007700;
    font-weight: bold;
    font-size: 16px; /* Increase font-size */
    padding: 5px 5px 5px 5px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

 /* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #bbff99;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #226600;
    color: #bbff99;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* Use this after trick to make the tab resize accoring to contained floating items size */
.tabcontent::after {
    content: "";
    clear: both;
    display: table;
}

 /* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #bbff99;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #226600;
    color: #bbff99;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}


 /* Style the tab */
div.vertical_tab {
    display: inline-block;
    position:absolute;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 10%;
   /* height: 500px;*/
}

/* Style the buttons inside the tab */
div.vertical_tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 2px 5px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.vertical_tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.vertical_tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.v_tabcontent {
    /*float: left;*/
    padding: 0px 12px;
    /*border: 1px solid #ccc;*/
    width: 40%;
   /* border-left: none;*/
  /*  height: 500px;*/
}
